UPSTASH_REDIS_REST_URL=https://******************.upstash.io
UPSTASH_REDIS_REST_TOKEN=************************************

SPOTIFY_CLIENT_ID=******************************
SPOTIFY_CLIENT_SECRET=******************************
SPOTIFY_REFRESH_TOKEN=******************************