@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 


@theme inline {
  --animate-meteor: meteor 5s linear infinite;

}


@keyframes meteor {
  0% {
    transform: rotate(var(--angle)) translateX(0);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: rotate(var(--angle)) translateX(-500px);
    opacity: 0;
  }
}