/* @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap'); */





.Animate-FadeInRight {
  animation: fadeInRight 0.5s ease-in-out forwards;
  animation-delay: 2.5s;
}

/* Animate Fade In Right */
@keyframes fadeInRight {
  from {
    visibility: visible;
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}